<a href="https://colab.research.google.com/github/JuliaZakhar4enko/06_Final_Task_Block1/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}
keys = ['name', 'age']
def get_keys(base_dict: dict, keys: list=['name', 'age']) -> dict:
    res = {}
    for k in keys:
        res.update(
        {
            k: base_dict[k]
        })
    return res

get_keys(client_dict)

{'name': 'John', 'age': 25}

In [2]:
dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}

dict1.update(dict2)
dict1
def merge_dict(dict1: dict, dict2: dict) -> dict:
    dict1.update(dict2)
    return dict1

dict1 = {'One': 1, 'Two': 2, 'Three': 3}
dict2 = {'Four': 4, 'Five': 5, 'Six': 6}
merge_dict(dict1, dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

In [3]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]
def get_dict(keys: list, values: list) -> dict:
    res_dict = {}
    for i in range(len(keys)):
        res_dict.update({
            keys[i]: values[i]
        })
    return res_dict

get_dict(keys, values)

{'One': 1, 'Two': 2, 'Three': 3}

In [4]:
def get_dict(keys: list, values: list) -> dict:
    return {keys[i]: values[i] for i in range(len(values))}

get_dict(keys, values)
client_dict = {
    "name": "John",
    "age": 25,
    "salary": 5000,
    "city": "Moscow"
}
keys = ['name', 'age']


def get_keys(base_dict: dict, keys: list=['name', 'age']) -> dict:
    res = {}
    for k in keys:
        res.update(
        {
            k: base_dict[k]
        })
    return res

get_keys(client_dict)

{'name': 'John', 'age': 25}

In [5]:


new_dict = {i: client_dict[i] for i in keys}
new_dict

{'name': 'John', 'age': 25}

<img src=https://img.freepik.com/free-photo/a-digital-painting-of-a-mountain-with-a-colorful-tree-in-the-foreground_1340-25699.jpg width=300>

<table>
    <tr>
        <td> </td>
        <td>До события</td>
        <td>Во время события</td>
    </tr>
    <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
        <td>500</td>
    </tr>
    <tr>
        <td>2 контрольная точка</td>
        <td>300</td>
        <td>600</td>
    </tr>
    <tr>
        <td>3 контрольная точка</td>
        <td>350</td>
        <td>700</td>
    </tr>
    <tr>
        <td>Итог</td>
        <td>1000</td>
        <td>2000</td>
    </tr>
</table>

Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее.

На вход поступают целочисленные значения в любом количестве
На выходе словарь с ключами суммы трат и средней траты

In [6]:
def calc(*args):
    sumn = sum(args)
    lenN = len(args)
    return {
        'sum': sumn,
        'avg': sumn / lenN
    }

calc(1, 2, 3, 4, 5, 6, 7, 8, 9)

{'sum': 45, 'avg': 5.0}

4.1 Cгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random
Зафиксируйте псевдогенерацию, чтобы сгенерированные значения всегда были одинаковые
Используйте list comprehensions

In [7]:
import random
random.seed(17)

num = [random.randint(0, 100) for i in range(5)]
num

[66, 53, 38, 46, 37]

4.2* Напишите генератор
Генератор на вход принимает список с данными о клиенте (данные из пункта 4.1)
Внутри генератора реализуйте обход по списку с данными
На каждой итерации генератор будет возвращать кортеж из двух элементов:

данные по клиенту (в зависимости от итерации, на 0 итерации вернется 0 элемент, на 1 итерации вернется 1 элемент и тд)
целочисленное значение, которое показывает, сколько секунд прошло с предыдущей итерации
Примечание: секунды, которые возвращаются должны показывать время не с начала запуска генератора, а именно то время, которое прошло с предыдущей итерации. А значит время на первой итерации должно равняться 0.

Используйте функцию time из модуля time для подсчета времени.
Чтобы проверить работу таймера, запустите проход по генератору в цикле с time.sleep(2)

In [8]:
import time

def generator(data):
    last_time = None

    for i in data:
        current_time = time.time()

        if last_time:
            delta = current_time  - last_time
        else:
            delta = current_time - current_time

        last_time = time.time()
        yield(int(delta), i)

In [9]:
for t in generator(num):
    print(t)
    time.sleep(2)

(0, 66)
(2, 53)
(2, 38)
(2, 46)
(2, 37)